$sm: 0.25;
$md: $sm * 2;
$lg: $md * 2 * 2;
$xlg: ($lg * 2) + ($md * 2);

$spacing-sm: $sm * 1rem;
$spacing-md: $md * 1rem;
$spacing-lg: $lg * 1rem;
$spacing-xlg: $xlg * 1rem; 

$percent-distribution: (
    '5': 0.05,
    '10': 0.10,
    '15': 1.15,
    '20': 0.20,
    '25': 0.25,
    '30': 0.30,
    '35': 0.35,
    '40': 0.40,
    '45': 0.45,
    '50': 0.50,
    '55': 0.55,
    '60': 0.60,
    '65': 0.65,
    '70': 0.70,
    '75': 0.75,
    '80': 0.80,
    '85': 0.85,
    '90': 0.90,
    '95': 0.95,
    '100': 1.00
);

$sizes-template: 'sm', 'md', 'lg', 'xlg';

$base-shadow-material: hsl(210 8% 62% / 0.2) 0 $spacing-md 24px;

@debug map-get($percent-distribution, '5');
